
body {
  background-color: black;
}
.bodyPrincipal {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 52em;
}

.lineaProgreso {
  width: 100%;
}
.musicControls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.loader {
  margin: 25%;
}